<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <a class="logo" href="./index.html"><img class="img-fluid" src="./assets/images/logo.png" alt="logo"></a>
    <ul class="menu">
      <li><a class="menu-link" href="./product.html">系列鏡框</a></li>
      <li><a class="menu-link" href="./location.html">門市據點</a></li>
      <li><a class="menu-link" href="./blog.html">部落格</a></li>
      <li><a class="menu-link" href="./faq.html">常見問題</a></li>
    </ul>
  </header>
  <main class="main">
    <%- contents %>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer-wrap">
        <div>
          <ul class="menu">
            <li class="menu-item"><a class="menu-link" href="">首頁</a></li>
            <li class="menu-item"><a class="menu-link" href="">系列鏡框</a></li>
            <li class="menu-item"><a class="menu-link" href="">門市據點</a></li>
            <li class="menu-item"><a class="menu-link" href="">部落格</a></li>
            <li class="menu-item"><a class="menu-link" href="">常見問題</a></li>
          </ul>
          <ul class="contact">
            <li><a href="#" class="contact-link"><span class="material-icons-outlined md-36">
              call
              </span>
              0800-000-000</a></li>
            <li><a href="#" class="contact-link"><span class="material-icons-outlined md-36">
              email
              </span>glasses@business.com</a></li>
          </ul>
        </div>
        <div>
          <ul class="social">
            <li class="social-item"><a class="social-link icon-fb"href="#"></a></li>
            <li class="social-item"><a class="social-link icon-ig" href="#"></a></li>
            <li class="social-item"><a class="social-link icon-line" href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <div class="policy">
          <a href="#" class="policy-link">隱私權政策</a>
          <a href="#" class="policy-link">服務條款</a>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
