.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px;
  @include md {
    padding: 30px 39px;
  }
  @include sm {
    flex-direction: column;
    padding: 0;
  }
  &__logo {
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 49px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @include sm {
      width: 48px;
      height: 29px;
      margin: 10px 0;
    }
  }
  &__nav {
    @include sm {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    .menu__item {
      @include sm {
        width: 50%;
        padding: 8px 0;
      }
      & + .menu__item {
        margin-left: 4rem;
        @include md {
          margin-left: 2.5rem;
        }
        @include sm {
          margin-left: 0rem;
        }
      }
    }
    .menu__link {
      display: block;
    }
  }
  .header__link-white {
    color: $white;
    font-size: 1.25rem;
    line-height: 1.35;
    @include md {
      text-align: center;
    }
  }
}

// Footer
.footer {
  background-color: $primary;
  padding-top: 44px;
  padding-bottom: 39px;
  @include md {
    padding-top: 32px;
    padding-bottom: 21px;
  }
  @include sm {
    padding-top: 25px;
    padding-bottom: 24px;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    @include md {
      margin-bottom: 1.25rem;
    }
  }
  &,
  a {
    color: $white;
  }
  .footerMenu {
    display: flex;
    margin-bottom: 24px;
    padding: 12px 0;
    @include md {
      padding: 0;
      margin-top: 6px;
      margin-bottom: 18px;
    }
    @include sm {
      display: none;
    }
    .footerMenu-item + .footerMenu-item {
      margin-left: 3rem;
    }
    .footerMenu-link {
      font-size: 16px;
    }
  }
  .contact {
    .contact-link {
      display: flex;
      align-items: center;
      font-size: 2.25rem;
      @include md {
        font-size: 1.25rem;
      }
      @include sm {
        font-size: 1rem;
      }
      span {
        margin-right: 1rem;
        @include md {
          margin-right: 5px;
        }
      }
      @include md {
        li + li {
          margin-top: 12px;
        }
      }
    }
  }
  .social {
    display: flex;
    .social-link {
      display: block;
      width: 48px;
      height: 48px;
      @include md {
        width: 24px;
        height: 24px;
      }
    }
    .social-item + .social-item {
      margin-left: 2rem;
      @include md {
        margin-left: 1.5rem;
      }
    }
  }

  .copyright {
    padding-top: 2rem;
    border-top: 1px solid $white;
    display: flex;
    justify-content: space-between;
    @include md {
      padding-top: 1.5rem;
    }
    @include sm {
      padding-top: 1rem;
      flex-direction: column;
    }
    .term {
      @include md {
        margin-top: 12px;
      }
      @include sm {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
      }
      .term-link + .term-link {
        margin-left: 3rem;
        @include md {
          margin-left: 1.5rem;
        }
        @include sm {
          margin-left: 0;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
main {
  min-height: calc(100vh - 109px - 344px);
  @include md {
    min-height: calc(100vh - 109px - 190px);
  }
  @include sm {
    min-height: calc(100vh - 146px - 233px);
  }
}
