@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none; }

body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  line-height: 1.5; }

h1,
.h1 {
  font-size: 4rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.25rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 375px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  .header__logo {
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 49px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 375px) {
      .header__logo {
        width: 48px;
        height: 29px;
        margin: 10px 0; } }
  @media (max-width: 375px) {
    .header__nav {
      width: 100%; } }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 375px) {
      .header .menu .menu__item {
        width: 50%;
        padding: 8px 0; } }
    .header .menu .menu__item + .menu__item {
      margin-left: 4rem; }
      @media (max-width: 768px) {
        .header .menu .menu__item + .menu__item {
          margin-left: 2.5rem; } }
      @media (max-width: 375px) {
        .header .menu .menu__item + .menu__item {
          margin-left: 0rem; } }
    .header .menu .menu__link {
      display: block; }
  .header .header__link-white {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.35; }
    @media (max-width: 768px) {
      .header .header__link-white {
        text-align: center; } }

.footer {
  background-color: #aa0601;
  padding-top: 44px;
  padding-bottom: 39px; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 32px;
      padding-bottom: 21px; } }
  @media (max-width: 375px) {
    .footer {
      padding-top: 25px;
      padding-bottom: 24px; } }
  .footer .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.5rem; }
    @media (max-width: 768px) {
      .footer .footer-wrap {
        margin-bottom: 1.25rem; } }
  .footer,
  .footer a {
    color: #fff; }
  .footer .footerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    padding: 12px 0; }
    @media (max-width: 768px) {
      .footer .footerMenu {
        padding: 0;
        margin-top: 6px;
        margin-bottom: 18px; } }
    @media (max-width: 375px) {
      .footer .footerMenu {
        display: none; } }
    .footer .footerMenu .footerMenu-item + .footerMenu-item {
      margin-left: 3rem; }
    .footer .footerMenu .footerMenu-link {
      font-size: 16px; }
  .footer .contact .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.25rem; }
    @media (max-width: 768px) {
      .footer .contact .contact-link {
        font-size: 1.25rem; } }
    @media (max-width: 375px) {
      .footer .contact .contact-link {
        font-size: 1rem; } }
    .footer .contact .contact-link span {
      margin-right: 1rem; }
      @media (max-width: 768px) {
        .footer .contact .contact-link span {
          margin-right: 5px; } }
    @media (max-width: 768px) {
      .footer .contact .contact-link li + li {
        margin-top: 12px; } }
  .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .social .social-link {
      display: block;
      width: 48px;
      height: 48px; }
      @media (max-width: 768px) {
        .footer .social .social-link {
          width: 24px;
          height: 24px; } }
    .footer .social .social-item + .social-item {
      margin-left: 2rem; }
      @media (max-width: 768px) {
        .footer .social .social-item + .social-item {
          margin-left: 1.5rem; } }
  .footer .copyright {
    padding-top: 2rem;
    border-top: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .footer .copyright {
        padding-top: 1.5rem; } }
    @media (max-width: 375px) {
      .footer .copyright {
        padding-top: 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 768px) {
      .footer .copyright .term {
        margin-top: 12px; } }
    @media (max-width: 375px) {
      .footer .copyright .term {
        margin-top: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .copyright .term .term-link + .term-link {
      margin-left: 3rem; }
      @media (max-width: 768px) {
        .footer .copyright .term .term-link + .term-link {
          margin-left: 1.5rem; } }
      @media (max-width: 375px) {
        .footer .copyright .term .term-link + .term-link {
          margin-left: 0;
          margin-top: 0.5rem; } }

main {
  min-height: calc(100vh - 109px - 344px); }
  @media (max-width: 768px) {
    main {
      min-height: calc(100vh - 109px - 190px); } }
  @media (max-width: 375px) {
    main {
      min-height: calc(100vh - 146px - 233px); } }

.bg-primary {
  background-color: #aa0601; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #aa0601 !important; }

.text-secondary {
  color: #650300 !important; }

.text-black {
  color: #000 !important; }

.fz-100 {
  font-size: 100px; }

.font_italic {
  font-style: italic !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.bg_center-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px; } }

.img-fluid {
  max-width: 100%;
  height: auto; }

@media (max-width: 375px) {
  .border-sm {
    border: 1px solid #fff; } }

.d-block {
  display: block; }

.material-icons.sm-18,
.material-icons-outlined.sm-18 {
  font-size: 18px; }

.material-icons.sm-24,
.material-icons-outlined.sm-24 {
  font-size: 24px; }

.material-icons.sm-36,
.material-icons-outlined.sm-36 {
  font-size: 36px; }

.material-icons.sm-40,
.material-icons-outlined.sm-40 {
  font-size: 40px; }

.material-icons.sm-48,
.material-icons-outlined.sm-48 {
  font-size: 48px; }

.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px; }

.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px; }

.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px; }

.material-icons.md-40,
.material-icons-outlined.md-40 {
  font-size: 40px; }

.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px; }

.material-icons.lg-18,
.material-icons-outlined.lg-18 {
  font-size: 18px; }

.material-icons.lg-24,
.material-icons-outlined.lg-24 {
  font-size: 24px; }

.material-icons.lg-36,
.material-icons-outlined.lg-36 {
  font-size: 36px; }

.material-icons.lg-40,
.material-icons-outlined.lg-40 {
  font-size: 40px; }

.material-icons.lg-48,
.material-icons-outlined.lg-48 {
  font-size: 48px; }

.bg-fb {
  background-image: url("../images/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.bg-ig {
  background-image: url("../images/icon-ig.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.bg-line {
  background-image: url("../images/icon-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.m-0 {
  margin: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.ms-0 {
  margin-left: 0; }

.me-0 {
  margin-right: 0; }

.m-1 {
  margin: 4px; }

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px; }

.mx-1 {
  margin-left: 4px;
  margin-right: 4px; }

.mt-1 {
  margin-top: 4px; }

.mb-1 {
  margin-bottom: 4px; }

.ms-1 {
  margin-left: 4px; }

.me-1 {
  margin-right: 4px; }

.m-2 {
  margin: 8px; }

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px; }

.mx-2 {
  margin-left: 8px;
  margin-right: 8px; }

.mt-2 {
  margin-top: 8px; }

.mb-2 {
  margin-bottom: 8px; }

.ms-2 {
  margin-left: 8px; }

.me-2 {
  margin-right: 8px; }

.m-3 {
  margin: 16px; }

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px; }

.mx-3 {
  margin-left: 16px;
  margin-right: 16px; }

.mt-3 {
  margin-top: 16px; }

.mb-3 {
  margin-bottom: 16px; }

.ms-3 {
  margin-left: 16px; }

.me-3 {
  margin-right: 16px; }

.m-4 {
  margin: 24px; }

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px; }

.mx-4 {
  margin-left: 24px;
  margin-right: 24px; }

.mt-4 {
  margin-top: 24px; }

.mb-4 {
  margin-bottom: 24px; }

.ms-4 {
  margin-left: 24px; }

.me-4 {
  margin-right: 24px; }

.m-5 {
  margin: 32px; }

.my-5 {
  margin-top: 32px;
  margin-bottom: 32px; }

.mx-5 {
  margin-left: 32px;
  margin-right: 32px; }

.mt-5 {
  margin-top: 32px; }

.mb-5 {
  margin-bottom: 32px; }

.ms-5 {
  margin-left: 32px; }

.me-5 {
  margin-right: 32px; }

.m-6 {
  margin: 40px; }

.my-6 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mx-6 {
  margin-left: 40px;
  margin-right: 40px; }

.mt-6 {
  margin-top: 40px; }

.mb-6 {
  margin-bottom: 40px; }

.ms-6 {
  margin-left: 40px; }

.me-6 {
  margin-right: 40px; }

.m-7 {
  margin: 48px; }

.my-7 {
  margin-top: 48px;
  margin-bottom: 48px; }

.mx-7 {
  margin-left: 48px;
  margin-right: 48px; }

.mt-7 {
  margin-top: 48px; }

.mb-7 {
  margin-bottom: 48px; }

.ms-7 {
  margin-left: 48px; }

.me-7 {
  margin-right: 48px; }

.m-8 {
  margin: 56px; }

.my-8 {
  margin-top: 56px;
  margin-bottom: 56px; }

.mx-8 {
  margin-left: 56px;
  margin-right: 56px; }

.mt-8 {
  margin-top: 56px; }

.mb-8 {
  margin-bottom: 56px; }

.ms-8 {
  margin-left: 56px; }

.me-8 {
  margin-right: 56px; }

.m-9 {
  margin: 64px; }

.my-9 {
  margin-top: 64px;
  margin-bottom: 64px; }

.mx-9 {
  margin-left: 64px;
  margin-right: 64px; }

.mt-9 {
  margin-top: 64px; }

.mb-9 {
  margin-bottom: 64px; }

.ms-9 {
  margin-left: 64px; }

.me-9 {
  margin-right: 64px; }

.hero {
  width: 100%;
  height: 840px;
  background-image: url("../images/banner.png"); }
  @media (max-width: 768px) {
    .hero {
      background-image: url("../images/banner-sm.png"); } }
  @media (max-width: 375px) {
    .hero {
      height: 394px; } }
  .hero__wrap {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero__title {
    font-size: 4rem;
    font-weight: bold;
    text-align: right; }
    @media (max-width: 768px) {
      .hero__title {
        font-size: 3rem; } }
    @media (max-width: 375px) {
      .hero__title {
        font-size: 2rem; } }
  .hero__text {
    display: block;
    font-size: 2.25rem;
    font-weight: normal; }
    @media (max-width: 768px) {
      .hero__text {
        font-size: 1.25rem; } }
    @media (max-width: 375px) {
      .hero__text {
        font-size: 1rem; } }

.service {
  padding-top: 60px;
  padding-bottom: 48px;
  background-color: #fbf2f2; }
  @media (max-width: 768px) {
    .service {
      padding-top: 40px;
      padding-bottom: 24px; } }
  @media (max-width: 375px) {
    .service {
      padding-top: 32px;
      padding-bottom: 2px; } }
  .service__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .service__title {
        margin-bottom: 32px;
        font-size: 2rem; } }
    @media (max-width: 375px) {
      .service__title {
        margin-bottom: 20px;
        font-size: 1.5rem; } }
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 768px) {
      .service__list {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .service__item {
    width: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .service__item {
        width: 48%; } }
    @media (max-width: 375px) {
      .service__item {
        width: 100%; } }
  .service__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem; }
  .service__subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem; }
  .service__content {
    max-width: 255px; }

.series {
  padding-top: 60px;
  padding-bottom: 48px; }
  @media (max-width: 768px) {
    .series {
      padding-top: 40px; } }
  @media (max-width: 375px) {
    .series {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .series__title {
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center; }
    @media (max-width: 768px) {
      .series__title {
        margin-bottom: 32px;
        font-size: 2rem; } }
    @media (max-width: 375px) {
      .series__title {
        font-size: 1.25rem; } }
  .series__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem; }
    @media (max-width: 768px) {
      .series__item {
        margin-bottom: 0.5rem; } }
    @media (max-width: 375px) {
      .series__item {
        padding: 49px 0; } }
  .series__even {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 768px) {
      .series__even {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .series__image {
    width: 58%;
    min-height: 320px; }
    @media (max-width: 768px) {
      .series__image {
        min-height: 168px; } }
    @media (max-width: 375px) {
      .series__image {
        position: absolute;
        width: 100%;
        min-height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; } }
  .series__content {
    width: 42%;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 375px) {
      .series__content {
        width: 100%;
        padding: 0px; } }
    .series__content,
    .series__content .material-icons-outlined {
      font-size: 3rem;
      font-weight: 900; }
      @media (max-width: 768px) {
        .series__content,
        .series__content .material-icons-outlined {
          font-size: 1.75rem; } }
    .series__content .material-icons-outlined {
      margin-right: 0.5rem; }

.classic {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url("../images/bg.png"); }
  @media (max-width: 768px) {
    .classic {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 375px) {
    .classic {
      padding-top: 32px;
      padding-bottom: 24px; } }
  .classic__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .classic__title {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 375px) {
      .classic__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .classic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .classic__item {
    position: relative;
    width: 48%;
    padding: 181px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 375px) {
      .classic__item {
        width: 100%;
        margin-bottom: 1rem; } }
  .classic__img1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/product-8.png");
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/product-8.png");
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/product-8.png"); }
  .classic__img2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../images/product-9.png");
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/product-9.png");
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/product-9.png"); }

.recommend {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .recommend {
      padding-top: 40px;
      padding-bottom: 0px; } }
  @media (max-width: 375px) {
    .recommend {
      padding-top: 32px;
      padding-bottom: 24px; } }
  .recommend__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .recommend__title {
        font-size: 2rem;
        margin-bottom: 32px; } }
    @media (max-width: 375px) {
      .recommend__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .recommend__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .recommend__list {
        margin-bottom: 1.5rem; } }
    @media (max-width: 375px) {
      .recommend__list {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.card {
  display: block;
  max-width: 23%;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .card {
      max-width: 48%;
      margin-bottom: 2rem; } }
  @media (max-width: 375px) {
    .card {
      max-width: 100%;
      margin-bottom: 1rem; } }
  .card__title {
    font-size: 14px;
    margin-bottom: 0.5rem; }
  .card__img {
    border-radius: 4px 4px 0px 0px;
    width: 100%; }
  .card__body {
    padding: 1rem;
    font-size: 14px;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dee2e6;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
  .card__content {
    min-height: 108px;
    font-size: 16px; }
  .card__footer {
    margin-top: 1rem;
    color: #707070; }

.contactUs {
  background-color: #fbf2f2;
  padding-top: 60px;
  padding-bottom: 48px; }
  @media (max-width: 768px) {
    .contactUs {
      padding-top: 40px; } }
  @media (max-width: 375px) {
    .contactUs {
      padding-top: 30px;
      padding-bottom: 32px; } }
  .contactUs__title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center; }
    @media (max-width: 768px) {
      .contactUs__title {
        font-size: 2rem;
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .contactUs__title {
        font-size: 1.25rem;
        margin-bottom: 20px; } }
  .contactUs__body {
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .contactUs__body {
        width: 58%; } }
    @media (max-width: 375px) {
      .contactUs__body {
        width: 100%; } }
  .contactUs__content {
    margin-bottom: 1.25rem; }
    @media (max-width: 768px) {
      .contactUs__content {
        margin-bottom: 1rem; } }
    @media (max-width: 375px) {
      .contactUs__content {
        margin-bottom: 0.5rem; } }
  .contactUs .userInfo__item {
    margin-bottom: 1rem; }
    @media (max-width: 768px) {
      .contactUs .userInfo__item {
        margin-bottom: 0.5rem; } }
  .contactUs .userInfo__item-last {
    margin-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .contactUs .userInfo__item-last {
        margin-bottom: 1.25rem; } }
  .contactUs .userInfo__input {
    padding: 12px 16px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 4px; }
    .contactUs .userInfo__input ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    .contactUs .userInfo__input ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    .contactUs .userInfo__input :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    .contactUs .userInfo__input ::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    .contactUs .userInfo__input ::placeholder {
      color: rgba(0, 0, 0, 0.2); }
    .contactUs .userInfo__input:focus {
      background-color: #fff; }
  .contactUs .userInfo__checkbox {
    background-color: transparent;
    color: transparent;
    border: 1px solid #000;
    width: 18px;
    height: 18px;
    margin-right: 4px; }
  .contactUs .userInfo__button {
    display: block;
    width: 48%;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 auto;
    color: #fff;
    background-color: #aa0601;
    border-width: 0;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear; }
    .contactUs .userInfo__button:hover {
      background-color: #870501; }
    @media (max-width: 768px) {
      .contactUs .userInfo__button {
        padding: 10px;
        margin-bottom: 8px; } }

/*# sourceMappingURL=all.css.map */
